.shop {
	position: relative;
	padding: 50px;

}

.shopTop {
	position: relative;
	padding: 0px 2%;
	padding-bottom: 20px;
}


.pdttit {

	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
}

.pdtnum {
	font-weight: 600;
	color: rgba(62, 56, 55, 0.53)
}

.pdtcte {
	display: inline-block;
	position: absolute;
	right: 1%;
	bottom: 25px;
	text-transform: capitalize;
}

.pdtcte li {
	font-size: 12px;
	padding: 0 10px;
	border-right: 1px solid #cccccc;
	line-height: 1;
	opacity: .8;
	transition: .2s;
	font-weight: 600;
}

.pdtcte li:hover {
	opacity: 1;
}

.pdtcte li:last-child {
	border-right: 0px;
}

.pdtlist li {
	width: 30%;
	margin: 1.66%;
	height: auto;
	background: #EDEDED;
	padding: 30px;
	position: relative;

}


.pdtlist li .over {
	transition: .4s;
	opacity: 0;
}

.pdtlist li:hover .over {
	top: 0;
	opacity: 1;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(25, 54, 170, 0.6);
	position: absolute;
	z-index: 10;
	transition: .4s;
}

.shop .over span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #231F20;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid #231F20;
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 90px;
	font-size: 14px;
	border-radius: 50%;
}

.thumnail {
	width: 100%;
	display: inline-block;
	position: relative;
	background: url(../images/tumnail0.png) no-repeat center/90%;
}

.thumnail::before {
	content: "";
	padding-top: 80%;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	display: block;

}

.pname {
	display: block;
	font-size: 15px;
	font-weight: 600;
	padding-top: 10px;
}

.pprice {
	display: block;
	font-size: 14px;
}

.pcte {
	position: absolute;
	right: -2px;
	top: 10px;
	padding: 5px 15px;
	background: #231F20;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase
}

.moreview {
	text-align: center;
	padding-top: 30px;
}

.moreview span {
	display: block;
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;

}

.moreview b {
	background: #231F20;
	color: #fff;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	font-size: 18px;
	transition: .4s;
	cursor: pointer;
}
